# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [149]:
# Your code here

import pandas as pd
import numpy as np

dc = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
dc.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [151]:
# number of rows and columns

dc.shape

(4008, 11)

In [153]:
# data types of each column

dc.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [155]:
# Fixing 'Customer Lifetime Value'
dc['Customer Lifetime Value'] = dc['Customer Lifetime Value'].str.rstrip('%').astype(float) #rstrip() remove characteres at the end of a string
    
# Fixing 'Number of Open Complaints' (assuming we need integer counts here)
dc['Number of Open Complaints'] = pd.to_numeric(dc['Number of Open Complaints'].str.extract('(\d+)')[0])
dc.dtypes

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
/var/folders/4g/4yj9rs3x2mxd3r_wz6p0pv080000gn/T/ipykernel_1314/1950377152.py:5: SyntaxWarning: invalid escape sequence '\d'
  dc['Number of Open Complaints'] = pd.to_numeric(dc['Number of Open Complaints'].str.extract('(\d+)')[0])

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [157]:
# number of unique values for each column

dc.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       1
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [159]:
# determine which columns appear to be categorical

cat_columns = list(dc.select_dtypes(include='object'))
cat_columns

['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

In [161]:
# describe the unique values of each categorical column 

print(dc.Customer.unique())
print(dc.ST.unique())
print(dc.GENDER.unique())
print(dc.Education.unique())
print(dc['Policy Type'].unique())
print(dc['Vehicle Class'].unique())

['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [163]:
# range of values for numerical columns

print(dc['Customer Lifetime Value'].min(),';',dc['Customer Lifetime Value'].max())
print(dc['Income'].min(),';',dc['Income'].max())
print(dc['Monthly Premium Auto'].min(),';',dc['Monthly Premium Auto'].max())
print(dc['Number of Open Complaints'].min(),';',dc['Number of Open Complaints'].max())
print(dc['Total Claim Amount'].min(),';',dc['Total Claim Amount'].max())

200435.07 ; 5816655.35
0.0 ; 99960.0
61.0 ; 35354.0
1.0 ; 1.0
0.382107 ; 2893.239678

In [165]:
# summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns

dc[['Customer Lifetime Value','Income', 'Monthly Premium Auto','Number of Open Complaints','Total Claim Amount']].describe()  #to select multiple columns use [[]]

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,1.068000e+03,1071.000000,1071.000000,1071.0,1071.000000
mean,7.936903e+05,39295.701214,193.234360,1.0,404.986909
std,6.434784e+05,30469.427060,1601.190369,0.0,293.027260
min,2.004351e+05,0.000000,61.000000,1.0,0.382107
25%,4.034080e+05,14072.000000,68.000000,1.0,202.157702
50%,5.881742e+05,36234.000000,83.000000,1.0,354.729129
75%,8.962872e+05,64631.000000,109.500000,1.0,532.800000
max,5.816655e+06,99960.000000,35354.000000,1.0,2893.239678

In [167]:
# summary statistics for categorical columns

customer_stats = dc['Customer'].value_counts()
state_stats = dc['ST'].value_counts()
gender_stats = dc['GENDER'].value_counts()
education_stats = dc['Education'].value_counts()
policy_type_stats = dc['Policy Type'].value_counts()
vehicle_class_stats = dc['Vehicle Class'].value_counts()

print(customer_stats,"\n")
print(state_stats,"\n")
print(gender_stats,"\n")
print(education_stats,"\n")
print(policy_type_stats,"\n")
print(vehicle_class_stats,"\n")

Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [170]:
# Create a pandas Series object that contains the customer locations and their frequencies

cust_loc = dc['ST'].value_counts()
top_5_less_common_locations = cust_loc.nsmallest(5)
print ("Customer locations:\n",cust_loc,"\n")
print ("Top 5 less common locations:\n",top_5_less_common_locations)

Customer locations:
 ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

Top 5 less common locations:
 ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [174]:
# create a pandas Series object that contains the policy types and their total number of policies sold

total_number_policies = dc['Policy Type'].value_counts()
print ("Total number of policies sold:\n",total_number_policies,"\n")

# retrieve the policy type with the highest number of policies sold
most_sold_policy_type = total_number_policies.idxmax()
print("Highest number of policies sold:\n",most_sold_policy_type)

Total number of policies sold:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Highest number of policies sold:
 Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [176]:
# Create a DataFrame containing only Personal Auto policies
personal_auto_policies = dc.loc[dc['Policy Type'] == 'Personal Auto']  #loc method is used for filtering and selecting data based on specific conditions or labels

# Create a DataFrame containing only Corporate Auto policies
corporate_auto_policies = dc.loc[dc['Policy Type'] == 'Corporate Auto']

# Calculate the average income for Personal Auto policies
avg_income_personal_auto = personal_auto_policies['Income'].mean()

# Calculate the average income for Corporate Auto policies
avg_income_corporate_auto = corporate_auto_policies['Income'].mean()

# Print the results
print("Average Income for Personal Auto Policies:", avg_income_personal_auto)
print("Average Income for Corporate Auto Policies:", avg_income_corporate_auto)

Average Income for Personal Auto Policies: 38180.69871794872
Average Income for Corporate Auto Policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [220]:
# identify customers with a high policy claim amount

# statistics for total claim amount
dc['Total Claim Amount'].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [215]:
# Create a new DataFrame containing customers with a policy claim amount greater than the 75th percentile

percentile_75 = dc['Total Claim Amount'].quantile(0.75)
high_claim_customers = dc[dc['Total Claim Amount'] > percentile_75]

In [217]:
# Calculate summary statistics for the high policy claim amount data
high_claim_customers.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,2.640000e+02,264.000000,264.000000,264.0,264.000000
mean,9.086868e+05,23677.344697,165.193182,1.0,782.228263
std,6.387678e+05,27013.483721,623.930992,0.0,292.751640
min,2.287597e+05,0.000000,63.000000,1.0,537.600000
25%,4.723958e+05,0.000000,99.000000,1.0,606.521741
50%,7.781768e+05,18807.000000,114.000000,1.0,679.597985
75%,1.054430e+06,42423.750000,133.250000,1.0,851.400000
max,3.844586e+06,99316.000000,10202.000000,1.0,2893.239678